{% extends "base.html" %}

{% block content %}
    <h1>Works log</h1>
    {% for item in works %}
        <h3>Action # {{ item.id }}</h3>
        <div class="col-md6 border rounded">
            <p>Title - {{ item.title }}</p>
            <p>Leader - {{ item.leader_id }}</p>
            <p>Duration - {{ item.work_size }}</p>
            <p>Collaborators - {{ item.collaborators }}</p>
            <p>Is finished - {{ item.is_finished }}</p>
        </div>
        {% if current_user.is_authenticated and current_user == item.user %}
            <div>
                <a href="/work/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/work_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    {% endfor %}
    {% if current_user.is_authenticated %}
        <a href="work" class="btn btn-secondary">Add work</a>
    {% endif %}
{% endblock %}